body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    line-height: 1.33;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: black;
    padding: 8px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 12px solid black;
  }

  
  .row {
    white-space: pre-wrap;
    height: 100px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: black;
    border-top: 1px dashed black;
  }
  
  .past {
    background-color: black;
    color: white;
  }
  
  .present {
    background-color: lightcoral;
    color: white;
  }
  
  .future {
    background-color: lightgreen;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: blue;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  